<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kombucha Store</title>
</head>
<body>
  <div class ="container">
    <div class ="item1">
  <table>
    <tr>
      <th>Brand</th>
      <th>Flavor</th>
      <th>Price</th>
      <th>Alcohol Content</th>
    </tr>
    <div *ngFor="let keg of kegs">
    <tr>
      <td>{{keg.brand}}</td>
      <td>{{keg.flavor}}</td>
      <td>{{keg.pricePerPint}}</td>
      <td>{{keg.alcoholContent}}</td>
    </tr>
    <button>Edit</button>
    <button>Sold</button>
    <button>View</button>
    </div>

  </table>
</div>
</div>
</body>
</html>