table, th, tr, td {
  border: 1px solid black;

}

/* grid  */
.container {
  display: grid;
  grid-template-areas: 
  "table table table table table "
  "table table table table "
  "table table table table";
}

.item1{
  grid-area: table;
}

/* flex*/

.flexContainer {
  display: flex;
  align-items: center;
}

